@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
	--font-roboto: "Roboto", sans-serif;
	--font-nunito: "Nunito", sans-serif;

	/* colours */
	--color-accent: #32213a;
	/* #552b69 */
}

#root {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	margin: 0 auto;
}

body {
	background-color: white;
	color: black;
}

.wrapper {
	max-width: 1280px;
	width: 90%;
	margin: 0 auto;
}

.bar {
	@apply block w-6 h-[0.2rem] my-[0.1rem] bg-black rounded duration-300 transition-all origin-[3px];
}
